

body {
   background: #DDD ;
   font-family: sans ;
   margin: 0px ;
}

TT { font-weight: bold ; }

/* BOXES */

.box_title {
   font-weight: bold ;
   background: #CFC ;
   text-align: center; 
   white-space: nowrap;
   border: 1px solid black ;
   border-bottom: 0px ;
   margin-top: 0.3em ;
   }

table.box_content {
   border: 1px solid black ;
   background: #EFE ;
   width: 100% ;
   border-spacing: 0px ;
}

TABLE.information_table {
background-color: black ;
border-spacing: 1px ;
margin: 0.4em;
}

TABLE.information_table TD, TABLE.information_table TH {
background: #EEE ;
border: 1px ;
}

table > tbody > tr > td { vertical-align: top ; padding: 2px ; }

/* TIPS */

A.tips > SPAN, TT.tips > SPAN, DIV.tips > TT { display: none; }

A.tips:hover > SPAN, TT.tips:hover > SPAN , DIV.tips:hover > TT {
  font-size: 10pt ;
  text-align: left ;
  font-weight: 500 ;
  text-decoration: none ;
  margin-top: 3em;
  position:absolute;
  background-image: url('tip.png');
  color:#000;
  border:2px solid #00F;
  padding:0.2em;
  display:block;
  white-space:normal;
}

P.int_required:before { content: "La réponse à cette question doit être un nombre entier écrit en décimal." ; }

PRE { background-color: #FF0 ; border: 1px solid black ; }

DIV.comment>A:first-child.content>.box_title:before{ content: "Faites un commentaire" ; }
DIV.comment>A:first-child.content> SPAN:before{ content: "S'il y a un problème dans l'énoncé de la question (ambiguïté, grammaire, ...).\A Si les indices ne sont pas suffisants.\A Si une réponse que vous considérez bonne n'est pas acceptée.\A Alors : laissez un commentaire." ; }
DIV.comment .comment_given:before{ content: "Votre commentaire : " ; }
DIV.comment .comment_button:before{ content: "Envoyer commentaire" ; }
DIV.comment TEXTAREA { font-size: 80% ; }
DIV.comment BUTTON { width: 100% ; }
DIV.comment .comment_given { white-space: normal;}
DIV.comment A.tips > SPAN { white-space: pre ; }
DIV.heart{ width: 100% ; }
DIV.heart .box_title { background: #CFC ; padding: 2px;}
DIV.heart > DIV { margin-top: 0.7em;}
DIV.heart > DIV > TABLE.box_content { background: #EEE ; }
DIV.question_bads>A:first-child.content>.box_title:before{ content: "Les mauvaises réponses données à cette question" ; }
DIV.question_bads .c1>SPAN:before{ content: "Les étudiants ayant donné cette mauvaise réponse\A En gras s'ils n'ont pas trouvé la bonne réponse\A En italique s'ils ont demandé un indice" ; }
DIV.question_bads .c1:before{ content: "Les étudiants" ; }
DIV.question_bads .c0:before{ content: "Mauvaise réponse donnée par l'étudiant" ; }
DIV.question_bads .c0>SPAN:before{ content: "Si la mauvaise réponse est sur fond rouge\A cela veux dire que l'étudiant n'a pas eu de commentaire.\A\AS'il y a des '!!!' c'est que sa réponse a été comptabilisée comme bonne\A mais que suite à une modification du système elle est maintenant considérée comme valide" ; }
DIV.question_bads SPAN.uncommented { background: #FAA; }
DIV.question_bads SPAN.uncommented PRE { background-color: #FAA ; }
DIV.question_bads A.tips > SPAN { white-space: pre ; }
DIV.action_destroy_student>A:first-child.content:before{ content: "Détruit étudiants" ; }
DIV.action_destroy_student>A:first-child.content> SPAN:before{ content: "Détruit tous les étudiants qui n'ont donné aucune bonne réponse" ; }
DIV.heart_content .action_destroy_student .deleted:before{ content: "Ces étudiants ont été enlevés du système. Le nombre entre parenthèses indique le nombre de bonnes réponses qu'ils ont donnés" ; }
DIV.administration>A:first-child.content>.box_title:before{ content: "Administration" ; }
DIV.administration>A:first-child.content> SPAN:before{ content: "Administration de QUENLIG" ; }
DIV.administration { position: absolute ; right: 0; top:0 }
DIV.about_version>A:first-child.content> SPAN:before{ content: "Version de QUENLIG utilisée" ; }
DIV.statmenu>A:first-child.content>.box_title:before{ content: "Statistiques" ; }
DIV.statmenu>A:first-child.content> SPAN:before{ content: "Informations concernant les exercices à faire et votre progression dans le groupe" ; }
DIV.questions_nomore>A:first-child.content> SPAN:before{ content: "Vous êtes arrivé au bout du questionnaire, félicitations !" ; }
DIV.about_questions>A:first-child.content> SPAN:before{ content: "Nom du répertoire contenant la définition du questionnaire" ; }
DIV.reload_questions>A:first-child.content:before{ content: "Recharge la question" ; }
DIV.reload_questions>A:first-child.content> SPAN:before{ content: "Relit le fichier Python contenant la définition de la question" ; }
DIV.questions>A:first-child.content>.box_title:before{ content: "Les questions" ; }
DIV.questions>A:first-child.content> SPAN:before{ content: "Vous devez choisir une question parmi les suivantes" ; }
DIV.questions A.max_descendants { font-weight: bold; }
DIV.questions A.question_given  {color:#888;}
DIV.questions A.bad_answer_given{color:#F00;}
DIV.questions A.indice_given    {font-style:italic;}
DIV.questions A.current_question{text-decoration:underline;}
DIV.questions A.highlight       { background: black; color: white;text-decoration: blink; }
DIV.statmenu_bad>A{ color: red ; }
DIV.statmenu_bad>A:first-child.content> SPAN:before{ content: "Nombres de mauvaises réponses que vous avez donné, évitez de répondre au hasard si vous avez la possibilité de tester." ; }
DIV.statmenu_bad>A:first-child.content:after{ content: "mauvaises réponses" ; }
DIV.question_before>A:first-child.content>.box_title:before{ content: "Avant de répondre" ; }
DIV.question_before>A:first-child.content> SPAN:before{ content: "Les informations affichées ici sont des rappels de cours et/ou des actions que vous devez effectuer avant de répondre à la question." ; }
DIV.exportcsv>A:first-child.content:before{ content: "Export CSV des notes" ; }
DIV.exportcsv>A:first-child.content> SPAN:before{ content: "Tableau intégrable dans un tableur avec pour chaque étudiant :\ANom de l'étudiant\A#bonnes réponses\A#mauvaises réponses\A#indices affichés\ATemps passé en TP en heures\ALes différentes valeurs sont normalisées 0 c'est aucun et 1 c'est le maximum." ; }
DIV.exportcsv A.tips > SPAN { white-space: pre ; }

DIV.hide>A:first-child.content:before{ content: "Visibilité" ; }
DIV.hide>A:first-child.content> SPAN:before{ content: "Gestion des vues" ; }
TT.hide { background:yellow }
TT.hide:before { content:'×' }
DIV.statmenu_students>A:first-child.content:before{ content: "Étudiants" ; }
DIV.statmenu_students>A:first-child.content> SPAN:before{ content: "Pour chaque étudiant affiche les statistiques concernant l'ensemble de son travail" ; }
DIV.heart_content .statmenu_students .c11>SPAN:before{ content: "Variance du temps de réflexion sur l'ensemble des questions" ; }
DIV.heart_content .statmenu_students .c10>SPAN:before{ content: "Taux de réponses simultanés (sans intérêt)" ; }
DIV.heart_content .statmenu_students .c2>SPAN:before{ content: "Nombre de questions connues" ; }
DIV.heart_content .statmenu_students .c11:before{ content: "Var." ; }
DIV.heart_content .statmenu_students .c10:before{ content: "Sim." ; }
DIV.heart_content .statmenu_students .c0>SPAN:before{ content: "Pointeur sur les statistiques de l'étudiant" ; }
DIV.heart_content .statmenu_students .c9:before{ content: "Dernière" ; }
DIV.heart_content .statmenu_students .c8:before{ content: "Première" ; }
DIV.heart_content .statmenu_students .c1>SPAN:before{ content: "Nombre de bonnes réponses (vert si en avance et rouge si en retard)" ; }
DIV.heart_content .statmenu_students .c3:before{ content: "Mau." ; }
DIV.heart_content .statmenu_students .c5>SPAN:before{ content: "Nombre de commentaires laissés" ; }
DIV.heart_content .statmenu_students .c4>SPAN:before{ content: "Nombre d'indices vus (vert si peu d'indices demandés par rapport au nombre de questions connues. Pour rouge, c'est qu'il y a trop d'indices demandés)" ; }
DIV.heart_content .statmenu_students .c0:before{ content: "Nom" ; }
DIV.heart_content .statmenu_students .c7:before{ content: "Après" ; }
DIV.heart_content .statmenu_students .c6:before{ content: "Cherche" ; }
DIV.heart_content .statmenu_students .c5:before{ content: "//" ; }
DIV.heart_content .statmenu_students .c4:before{ content: "Ind." ; }
DIV.heart_content .statmenu_students .CAPTION:before{ content: "Pour chaque étudiant affiche les statistiques concernant l'ensemble de son travail" ; }
DIV.heart_content .statmenu_students .c8>SPAN:before{ content: "Première connexion" ; }
DIV.heart_content .statmenu_students .c2:before{ content: "Posé" ; }
DIV.heart_content .statmenu_students .c1:before{ content: "Bon" ; }
DIV.heart_content .statmenu_students .c3>SPAN:before{ content: "Nombre de mauvaises réponses (vert si peu de mauvaises réponses par rapport au nombre de questions connues. Pour rouge, c'est qu'il y a trop de mauvaises réponses)" ; }
DIV.heart_content .statmenu_students .c9>SPAN:before{ content: "Dernière connexion" ; }
DIV.heart_content .statmenu_students .c6>SPAN:before{ content: "Temps total passé à chercher les réponses" ; }
DIV.heart_content .statmenu_students .c7>SPAN:before{ content: "Temps total passé avant de passer à la question suivante en cas de bonne réponse (rouge : l'étudiant passe trop de temps sans question affiché sur l'écran. Vert: l'étudiant passe à la question suivante sans même lire ce qui est affiché sur l'écran)" ; }
DIV.menu > DIV > TABLE > TBODY > TR > TD { white-space: nowrap ; }
DIV.menu .box_title { display: block ; }
DIV.questions_all>A:first-child.content> SPAN:before{ content: "Choix de la liste des questions à afficher :\A    * Toutes les questions qui existent.\A    * Celles accessibles normalement avec les prérequis." ; }
DIV.questions_all .all:before{ content: "Toutes" ; }
DIV.questions_all .normal:before{ content: "Normal" ; }
DIV.question>A:first-child.content>.box_title:before{ content: "Question" ; }
DIV.question>A:first-child.content> SPAN:before{ content: "La question que l'on vous pose et à laquelle vous devez répondre" ; }
DIV.session_informations>A:first-child.content> SPAN:before{ content: "Dates de début et fin de session" ; }
DIV.session_informations{ font-size: 70% ; }
DIV.question_good>A:first-child.content>.box_title:before{ content: "Bonne réponse ! Choisissez une autre question." ; }
DIV.question_good>TABLE>TBODY>TR>TD{ background: #CFC ; }
DIV.question_good>A>EM.box_title{ background: #8F8 ; }
DIV.answered>A:first-child.content:before{ content: "Le travail fait" ; }
DIV.answered>A:first-child.content> SPAN:before{ content: "Voir toutes les questions et réponses qui ont été faites" ; }
DIV.heart_content .answered .comment TD:before{ content: "Votre commentaire : " ; }
DIV.heart_content .answered .answered_by:before{ content: "Réponses de : " ; }
DIV.heart_content .answered .an_answer:before{ content: "Votre réponse : " ; }
DIV.answered TABLE.good_answer .an_answer { background: #DFD ; }
DIV.answered TABLE.bad_answer  .an_answer { background: #FDD ; }
DIV.answered .comment     { background: #DDD ; }
DIV.answered TT.an_answer, PRE.an_answer { font-weight: bold ; }

DIV.reload_plugins>A:first-child.content:before{ content: "Recharge plugins" ; }
DIV.reload_plugins>A:first-child.content> SPAN:before{ content: "Recharge les plugins du serveur s'ils ont été modifié\A Cela ne recharge pas les questions" ; }
DIV.statmenu_nr_questions>A:first-child.content> SPAN:before{ content: "Nombres de questions que le système contient." ; }
DIV.statmenu_nr_questions>A:first-child.content:after{ content: "questions en tout" ; }
DIV.about_time>A:first-child.content> SPAN:before{ content: "Temps CPU utilisé pour générer cette page" ; }
DIV.about_time>A:first-child.content:after{ content: "secondes" ; }

DIV.title_time>A:first-child.content> SPAN:before{ content: "Temps de réflexion moyen de l'ensemble du groupe pour cette question" ; }
DIV.title_time{ text-align: right ; }
DIV.student_work>A:first-child.content:before{ content: "Question répondues" ; }
DIV.student_work>A:first-child.content> SPAN:before{ content: "Statistiques sur les questions auxquelles un étudiant a répondu" ; }
DIV.heart_content .student_work .c7>SPAN:before{ content: "Le nom de la question avec un lien vous dirigeant vers la question" ; }
DIV.heart_content .student_work .c5>SPAN:before{ content: "Nombre de commentaire déposés" ; }
DIV.heart_content .student_work .CAPTION:before{ content: "Pour chaque question, indique comment l'étudiant a répondu" ; }
DIV.heart_content .student_work .c3>SPAN:before{ content: "Nombre de mauvaises réponses données" ; }
DIV.heart_content .student_work .c2>SPAN:before{ content: "Nombre de fois que la question a été vue" ; }
DIV.heart_content .student_work .c6>SPAN:before{ content: "Temps passé avec la question affichée sur l'écran" ; }
DIV.heart_content .student_work .c1>SPAN:before{ content: "True si la bonne réponse a été donnée" ; }
DIV.heart_content .student_work .c0>SPAN:before{ content: "Le moment ou la question a été vue la dernière fois" ; }
DIV.heart_content .student_work .c4>SPAN:before{ content: "Nombre d'indices vue / nombre d'indice total" ; }
DIV.heart_content .student_work .c3:before{ content: "#Mau." ; }
DIV.heart_content .student_work .c2:before{ content: "#Vus" ; }
DIV.heart_content .student_work .c1:before{ content: "OK" ; }
DIV.heart_content .student_work .c0:before{ content: "Date" ; }
DIV.heart_content .student_work .c7:before{ content: "Question" ; }
DIV.heart_content .student_work .c6:before{ content: "Temps" ; }
DIV.heart_content .student_work .c5:before{ content: "#Com." ; }
DIV.heart_content .student_work .c4:before{ content: "Indices" ; }
DIV.map>A:first-child.content> SPAN:before{ content: "Il y a un carré par question, on part de la gauche on doit arriver à droite.\A     Jaune : la question affichée sur l'écran\A    Vert : question à laquelle vous avez répondu correctement\A    Rouge : question pour laquelle votre dernière réponse était fausse\A    Bleu foncé : question qu'il est possible de regarder\A    Bleu clair : Question abandonnée\A La couleur est plus pâle si des indices ont été demandés." ; }
DIV.map IMG { width: 100% ; margin-top: 0.3em ; }
DIV.map A.tips > SPAN { white-space: pre ; }
DIV.question_indices>A:first-child.content>.box_title:before{ content: "Des indices pour vous aider" ; }
DIV.question_indices>A:first-child.content> SPAN:before{ content: "Si vous n'avez aucune idée sur la manière de répondre à la question, demandez un indice" ; }
DIV.question_indices .next_indice:before{ content: "Donnez-moi un autre indice" ; }
DIV.question_indices .first_indice:before{ content: "Donnez-moi un indice" ; }
DIV.session_duration>A{ color: #999 ; }
DIV.session_duration>A:first-child.content:before{ content: "Temps restant : " ; }
DIV.session_duration>A:first-child.content> SPAN:before{ content: "Temps restant jusqu'à la fin de la session" ; }
DIV.session_duration{ font-size: 70% ; }
DIV.answered_other>A:first-child.content:before{ content: "Le travail fait par les autres" ; }
DIV.answered_other>A:first-child.content> SPAN:before{ content: "Voir toutes les questions et réponses qui ont été faites" ; }
DIV.heart_content .answered_other .comment TD:before{ content: "Votre commentaire : " ; }
DIV.heart_content .answered_other .answered_by:before{ content: "Réponses de : " ; }
DIV.heart_content .answered_other .an_answer:before{ content: "Votre réponse : " ; }
DIV.answered_other TABLE.good_answer .an_answer { background: #DFD ; }
DIV.answered_other TABLE.bad_answer  .an_answer { background: #FDD ; }
DIV.answered_other .comment     { background: #DDD ; }
DIV.answered_other TT.an_answer, PRE.an_answer { font-weight: bold ; }
DIV.question_answer>A:first-child.content>.box_title:before{ content: "Donnez votre réponse ici" ; }
DIV.question_answer>A:first-child.content> SPAN:before{ content: "Pensez à tester votre réponse dans la réalité avant de la saisir ici, sinon vous risquez de donnez une mauvaise réponse bêtement" ; }
DIV.question_answer .answer_button:before{ content: "Envoyer la réponse" ; }
DIV.question_answer .maximum_bad_answer:before{ content: "Vous ne pouvez plus répondre à cette question, choisissez en une autre" ; }
DIV.question_answer INPUT { width: 100% ; font-family: times; font-size:120%}
DIV.question_answer TEXTAREA { width: 100% ; }
DIV.question_answer FORM { margin: 0px }
DIV.debug>A:first-child.content:before{ content: "Débuggage" ; }
DIV.debug>A:first-child.content> SPAN:before{ content: "Activation du débuggage sur cette page" ; }
DIV.debug a.tips > div.tips > div { white-space: pre; }
DIV.analyse>A:first-child.content>.box_title:before{ content: "Analyser" ; }
DIV.analyse>A:first-child.content> SPAN:before{ content: "Divers outils pour analyser le travail" ; }
DIV.statmenu_good>A{ color: green ; }
DIV.statmenu_good>A:first-child.content> SPAN:before{ content: "Nombres de bonnes réponses que vous avez donné" ; }
DIV.statmenu_good>A:first-child.content:after{ content: "bonnes réponses" ; }
DIV.action_help>A:first-child.content:before{ content: "Aide/Explication" ; }
DIV.action_help>A:first-child.content> SPAN:before{ content: "Voir une page d'aide concernant le TP" ; }
DIV.heart_content .action_help .object_unsupported:before{ content: "Votre navigateur ne supporte pas la balise OBJECT" ; }
DIV.questions_svg>A:first-child.content:before{ content: "Vue SVG session" ; }
DIV.questions_svg>A:first-child.content> SPAN:before{ content: "Affiche un fichier SVG représentant graphiquement la façon dont le groupe répond à l'ensemble des questions." ; }
DIV.histogramgood>A:first-child.content:before{ content: "Histo. # bonnes réponses" ; }
DIV.histogramgood>A:first-child.content> SPAN:before{ content: "Voir l'histogramme du nombre de bonnes réponses par étudiants" ; }
DIV.histogramgood .histobad:before{ content: "L'histogramme du nombre de mauvaises réponses" ; }
DIV.heart_content .histogramgood .histogram:before{ content: "L'histogramme du nombre de bonnes réponses" ; }
DIV.answers>A:first-child.content:before{ content: "Les réponses" ; }
DIV.answers>A:first-child.content> SPAN:before{ content: "Voir les réponses" ; }
DIV.answers TABLE { border: 1px solid black ; }

DIV.question_bad>A:first-child.content>.box_title:before{ content: "Mauvaise réponse" ; }
DIV.question_bad>TABLE>TBODY>TR>TD{ background: #FCC ; }
DIV.question_bad>A>EM.box_title{ background: #F88 ; }
DIV.session_start>A{ color: #999 ; }
DIV.session_start>A:first-child.content:before{ content: "Début : " ; }
DIV.session_start>A:first-child.content> SPAN:before{ content: "Date de début de la session" ; }
DIV.session_start{ font-size: 70% ; }
DIV.role>A:first-child.content:before{ content: "Role " ; }
DIV.role>A:first-child.content> SPAN:before{ content: "Permet de choisir votre role" ; }
DIV.question_required>A:first-child.content>.box_title:before{ content: "Questions auxquelles vous avez déjà répondu et qui peuvent peut-être vous servir" ; }
DIV.question_required>A:first-child.content> SPAN:before{ content: "Souvent vous trouverez ici des informations pouvant vous aider à répondre à la question que l'on vous pose. Si vous êtes bloqué, pensez à relire les informations qui sont affichées ici." ; }
DIV.question_required .answer:before{ content: "Votre réponse : " ; }
DIV.identity>A:first-child.content> SPAN:before{ content: "Ce bloc dont le titre est votre nom contient toutes les informations concernant votre identité et votre session en cours" ; }
DIV.question_stat>A:first-child.content>.box_title:before{ content: "Statistiques sur cette question" ; }
DIV.question_stat>A:first-child.content> SPAN:before{ content: "Entre parenthèses ce sont les moyennes pour tous les étudiants ayant vu la question" ; }
DIV.question_stat .comment:before{ content: "Commentaires " ; }
DIV.question_stat .indice:before{ content: "Indices demandés " ; }
DIV.question_stat .good:before{ content: "Bonnes réponse " ; }
DIV.question_stat .given:before{ content: "Vues par " ; }
DIV.question_stat .bad:before{ content: "Mauvaises réponse " ; }
DIV.question_stat .time:before{ content: "Temps moyen " ; }
DIV.question_stat .view:before{ content: "Affichages " ; }
DIV.question_stat > TABLE > TR { vertical-align: top ; }
DIV.question_stat P { margin: 0.1em ; }
DIV.statmenu_time>A:first-child.content> SPAN:before{ content: "Le temps que vous avez passé à réfléchir avec une question sur l'écran" ; }
DIV.statmenu_time>A:first-child.content:after{ content: "de réflexion" ; }
DIV.about{ font-size: 60% ; }

DIV.statmenu_rank>A:first-child.content:before{ content: "Classement : " ; }
DIV.statmenu_rank>A:first-child.content> SPAN:before{ content: "Votre classement dans le groupe (ceci n'est pas votre note)" ; }
DIV.question_comments>A:first-child.content>.box_title:before{ content: "Les commentaires qui ont été déposés à propos de cette question" ; }
DIV.question_comments .c1>SPAN:before{ content: "Le login de l'étudiant, vous pouvez cliquer pour lui envoyer un mail avec le rappel de la question et le contenu de son commentaire" ; }
DIV.question_comments .c2>SPAN:before{ content: "La date de dépôt du commentaire" ; }
DIV.question_comments .c2:before{ content: "Date" ; }
DIV.question_comments .c1:before{ content: "Étudiant" ; }
DIV.question_comments .c0:before{ content: "Commentaire" ; }
DIV.question_comments .c0>SPAN:before{ content: "Le texte du commentaire déposé par l'étudiant" ; }
DIV.cheaters>A:first-child.content:before{ content: "Copieurs" ; }
DIV.cheaters>A:first-child.content> SPAN:before{ content: "Cherche les copieurs" ; }
DIV.statmenu_smiley .statmenugood-1:before{ content: "Vous êtes en retard" ; }
DIV.statmenu_smiley .statmenubad-2:before{ content: "Vous répondez vraiment trop souvent des bétises !" ; }
DIV.statmenu_smiley .statmenugood-2:before{ content: "Vous êtes très en retard, faites vous aider" ; }
DIV.statmenu_smiley .statmenugood1:before{ content: "Bien, continuez" ; }
DIV.statmenu_smiley .statmenubad1:before{ content: "Bien, vous donnez peu de mauvaises réponses" ; }
DIV.statmenu_smiley .statmenubad2:before{ content: "Vous vous trompez vraiment pas souvent !" ; }
DIV.statmenu_smiley .statmenugood2:before{ content: "Très bien !" ; }
DIV.statmenu_smiley .statmenutime1:before{ content: "Vous devriez lire ce qui est affiché après avoir répondu" ; }
DIV.statmenu_smiley .statmenutime2:before{ content: "Vous ne lisez pas les explications affichées après avoir répondu" ; }
DIV.statmenu_smiley .statmenubad-1:before{ content: "Testez votre réponse avant de la donner" ; }
DIV.statmenu_smiley .statmenutime-1:before{ content: "Après avoir répondu, passez rapidement à une autre question" ; }
DIV.statmenu_smiley .statmenutime-2:before{ content: "Vous passez trop de temps sans question affichée" ; }
DIV.statmenu_smiley .statmenuindice2:before{ content: "Vous utilisez très peu les indices !" ; }
DIV.statmenu_smiley .statmenuindice-1:before{ content: "Vous regardez trop les indices" ; }
DIV.statmenu_smiley .statmenuindice-2:before{ content: "Vous demandez systématiquement les indices, c'est pas bien" ; }
DIV.statmenu_smiley .statmenuindice1:before{ content: "Bien, vous regardez peu les indices" ; }
DIV.statmenu_questions>A:first-child.content:before{ content: "Questions" ; }
DIV.statmenu_questions>A:first-child.content> SPAN:before{ content: "Pour chaque question affiche les statistiques concernant l'ensemble des étudiants" ; }
DIV.heart_content .statmenu_questions .c7>SPAN:before{ content: "Nombre de commentaires déposés" ; }
DIV.heart_content .statmenu_questions .c5>SPAN:before{ content: "Nombre d'indices / Nombre de personnes qui la connaisse" ; }
DIV.heart_content .statmenu_questions .CAPTION:before{ content: "Pour chaque question affiche les statistiques concernant l'ensemble des étudiants" ; }
DIV.heart_content .statmenu_questions .c3>SPAN:before{ content: "0: Personne n'a répondu, 1: tous ceux qui la connaisse ont répondu" ; }
DIV.heart_content .statmenu_questions .c2>SPAN:before{ content: "Nombre de fois quelle a été posée / Nombre de personne qui la connaisse" ; }
DIV.heart_content .statmenu_questions .c6>SPAN:before{ content: "Temps total HH:MM:SS passé pour répondre à la question" ; }
DIV.heart_content .statmenu_questions .c1>SPAN:before{ content: "0: Personne ne la connaît, 1: tous le monde la connaît" ; }
DIV.heart_content .statmenu_questions .c0>SPAN:before{ content: "La question pour laquelle on donne les statistiques" ; }
DIV.heart_content .statmenu_questions .c4>SPAN:before{ content: "Nombre de mauvaises réponses / Nombre de personnes qui la connaisse" ; }
DIV.heart_content .statmenu_questions .c3:before{ content: "Répondus" ; }
DIV.heart_content .statmenu_questions .c2:before{ content: "Posées" ; }
DIV.heart_content .statmenu_questions .c1:before{ content: "Vue" ; }
DIV.heart_content .statmenu_questions .c0:before{ content: "La question" ; }
DIV.heart_content .statmenu_questions .c7:before{ content: "Commentaire" ; }
DIV.heart_content .statmenu_questions .c6:before{ content: "Temps" ; }
DIV.heart_content .statmenu_questions .c5:before{ content: "Indices" ; }
DIV.heart_content .statmenu_questions .c4:before{ content: "Mauvaise" ; }
DIV.session_deconnection>A{ color: red ; }
DIV.session_deconnection>A:first-child.content:before{ content: "Déconnexion" ; }
DIV.session_deconnection>A:first-child.content> SPAN:before{ content: "La déconnexion empêche quiconque d'utiliser votre navigateur pour continuer à répondre au questionnaire" ; }
DIV.session_deconnection{ font-size: 70% ; }
DIV.statmenu_indice>A:first-child.content> SPAN:before{ content: "Nombres d'indices différents que vous avez regardés" ; }
DIV.statmenu_indice>A:first-child.content:after{ content: "indices donnés" ; }
DIV.questions_next>A:first-child.content:before{ content: "Question suivante" ; }
DIV.questions_next>A:first-child.content> SPAN:before{ content: "Passez à la question suivante dans l'ordre alphabétique" ; }
DIV.action>A:first-child.content>.box_title:before{ content: "Actions" ; }
DIV.action>A:first-child.content> SPAN:before{ content: "Choississez ce que vous voulez faire" ; }
DIV.title>A:first-child.content> SPAN:before{ content: "C'est le nom de la question ou le titre de la page si vous n'êtes pas en train de répondre à une question" ; }
DIV.title{ text-align: center ; }
DIV.title{ font-size: 200% ; }
DIV.questions_comments>A:first-child.content:before{ content: "Les commentaires déposés" ; }
DIV.questions_comments>A:first-child.content> SPAN:before{ content: "L'ensemble des commentaires qui ont été déposés par l'ensemble des étudiants" ; }
DIV.heart_content .questions_comments .c3>SPAN:before{ content: "La date de dépôt du commentaire" ; }
DIV.heart_content .questions_comments .c1>SPAN:before{ content: "Le texte du commentaire déposé par l'étudiant" ; }
DIV.heart_content .questions_comments .c0>SPAN:before{ content: "La question pour laquelle l'étudiant à déposé un commentaire. Il y a None si aucune question n'était affichée lors du dépôt du commentaire" ; }
DIV.heart_content .questions_comments .CAPTION:before{ content: "Les commentaires déposés par les étudiants" ; }
DIV.heart_content .questions_comments .c3:before{ content: "Date" ; }
DIV.heart_content .questions_comments .c2:before{ content: "Étudiant" ; }
DIV.heart_content .questions_comments .c1:before{ content: "Commentaire" ; }
DIV.heart_content .questions_comments .c0:before{ content: "La question" ; }
DIV.heart_content .questions_comments .c2>SPAN:before{ content: "Le login de l'étudiant, vous pouvez cliquer pour lui envoyer un mail avec le rappel de la question et le contenu de son commentaire" ; }
DIV.session_stop>A{ color: #999 ; }
DIV.session_stop>A:first-child.content:before{ content: "Fin : " ; }
DIV.session_stop>A:first-child.content> SPAN:before{ content: "Date de fin de la session." ; }
DIV.session_stop{ font-size: 70% ; }
DIV.top > DIV > TABLE { width: 100% ; }
DIV.title_bar TABLE { background: #DDD ; }