*~
*.pyc
xxx*
/DeprecatedScripts
/Documentation/plugins.html
/Documentation/tests.html
/INTERACTIVE/interactive
/Logs
/Plugins/cs_state
/Plugins/real_name
/Questions/.gitignore
/Questions/C_variable
/Questions/LIF8-exam1
/Questions/MUNIX1
/Questions/autoeval
/Questions/cs*
/Questions/unix-*
/Stats
/Students
/TAGS
/buildings
/git
/nohup.out
