
PRE SPAN.boxed { border: 1px solid black ;background: white ; }


u\:SELECTOR, u\:SEQUENCE, u\:PIPELINE, u\:COMMAND, u\:COMMAND>u\:ARGUMENT, u\:SUBSHELL, u\:CASE, u\:IF, u\:FOR, u\:WHILE{
  margin-left:2em;
  display:block;
  border:1px solid black;
  padding:0.1em;
  margin-top:1px;
  margin-bottom:1px;
}
u\:SEQUENCE[nrchild="1"]{
  display:block;
  margin-left:0em;
  border:0pt solid black;
  padding:0.1em;
  margin-top:0em;
  margin-bottom:0em;
}
u\:SEQUENCE[nrchild="1"]:before{
  content:"";
  margin-left:0em;
}
u\:IF > u\:COMMAND:first-child{
  background:white;
}
u\:PIPELINE[nrchild="1"]{
  display:block;
  margin-left:0em;
  border:0pt solid black;
  padding:0.1em;
  margin-top:0em;
  margin-bottom:0em;
}
u\:PIPELINE[nrchild="1"]:before{
  content:"";
  margin-left:0em;
}
u\:COMMAND > u\:ARGUMENT:first-child:before{
  content:"";
}
u\:COMMAND > u\:ARGUMENT:first-child{
  margin-left:1em;
}
u\:COMMAND > u\:ARGUMENT{
  display:block;
  white-space:pre;
}
u\:FOR > u\:ARGUMENT:first-child{
  border:0px;
  display:inline;
  margin-left:1em;
}
u\:FOR > u\:ARGUMENT{
  display:list-item;
  margin-left:3em;
}

u\:FILDES{
  display:block;
  margin-left:2em;
}

*[double_quoted="1"]{
  background:white;
}
*[double_quoted="0"]{
  background:#FBB;
}

u\:VARIABLE:before{
  content:'$';
}
u\:REPLACEMENT{
  display:block;
}
u\:SELECTOR > u\:PATTERN > u\:ARGUMENT{
  margin-left:1em;
  display:block;
}
u\:PATTERN_CHAR{
  display:inline;
  background:yellow;
}
u\:AFFECTATION{
  display:block;
  margin-left:2em;
}
